<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Hello, world!</title>
    <style type="text/css">
   a {
      text-decoration:none;
      color:black;
   }
    </style>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
      <br><br><br>

      <div class="container mx-auto" >
          <div class="row mt-5">
              <div class="col-12">
                 
                    <div class="card mx-auto" style="width: 20rem;" >
                        <i class="fas fa-user-graduate fa-8x mx-auto my-5"></i>
                        <h6 class="card-title mx-auto">Create an Account or Login</h5>
                        <a type="button" class="btn btn-danger  btn-block mx-2 my-2" href="register">Register</a>
                        <a type="button" class="btn btn-secondary  btn-block mx-2 my-2" href="login">Login</a>
                      </div>
                  
              </div>
             
            
              
          </div>
       
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f51f107350.js" crossorigin="anonymous"></script>
   
  </body>
</html>