
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      .zero{
        margin:0;
        padding:0;
      }
      body{
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    
    
      <div class="row">
      <div class="col-md-6 my-5 mx-auto">
        <div class="card mx-auto" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Join a Course</h5>
            <hr>
            <p class="card-text">
                <form action="/student/joinCourse" method="POST" class="m-3">
                  <div class="mb-3">
                    <label for="cocode" class="form-label">Enter the Course Code</label>
                    <input type="text" class="form-control" name="cocode" id="cocode"  >
                  </div>
                  <div class="my-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </form>
            </p>
          </div>
        </div>
      </div>
      </div>

      <hr>
      <h1>Courses</h1>
      <div class="row">
        <%for(var i=0;i<courses.length;i++) {%>
          <div class="col-md-4 col-sm-6 col-12 my-3 ">
            <div class="card ms-3" style="width: 18rem;">
              <h5 class="zero my-2 ms-1"><%=courses[i].title %></h5>
              <hr class="zero">
              <div class="card-body">
                <p class="card-text"><%=courses[i].desc %></p>
                <a type="button" class="btn btn-primary" href=/student/courses/<%= courses[i]._id %>>View</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>