<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Video Stream From MongoDB</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <video id="videoPlayer" width="650" controls >
      <source src=/video/mongo-video/<%=name%> type="video/mp4" autoplay/>
    </video>
  </body>
</html>